---
layout: archive
title: "Curriculum Vitae"
permalink: /cv/
author_profile: true
redirect_from:
  - /resume
order: 5
---

Education
======
* Ph.D in Information School, University of California, Berkeley, 2029 (expected)
* M.S. in Computational Analysis and Public Policy, University of Chicago, 2022
* B.S. in Data Science and Public Policy, Tufts University, 2018

Work experience
======
* 2022-2024: Data Scientist
  * UChicago Crime Lab & Center for Applied AI
  * Duties includes: 
    * Development of first ever computer vision model to detect domestic violence
    * Contributions to paper on predicting police misconduct
  * Supervisor: Jens Ludwig & Sendhil Mullainathan

* Fall 2015: Research Assistant
  * Github University
  * Duties included: Merging pull requests
  * Supervisor: Professor Hub

* Summer 2015: Research Assistant
  * Github University
  * Duties included: Tagging issues
  * Supervisor: Professor Git
  
Skills
======
* Skill 1
* Skill 2
  * Sub-skill 2.1
  * Sub-skill 2.2
  * Sub-skill 2.3
* Skill 3

Publications
======
  <ul>{% for post in site.publications reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
  
Talks
======
  <ul>{% for post in site.talks reversed %}
    {% include archive-single-talk-cv.html  %}
  {% endfor %}</ul>
  
Teaching
======
  <ul>{% for post in site.teaching reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
  
<!-- Service and leadership
======
* Currently signed in to 43 different slack teams -->